<div id="menu">
  <div>
    <%= link_to "Gestion de Autores", list_authors_path, :title => "Gestion de Autores" %>
  </div>
  <div>
    <%= link_to "Gestion de Libros", list_books_path, :title => "Gestion de Libros" %>
  </div>
  <div>
    <%= link_to "Gestion de Editoriales", list_publishers_path, :title => "Gestion de Editoriales" %>
  </div>
  <div class="right">
    <%= link_to "Gestion de Usuarios", list_users_path, :title => "Gestion de Usuarios" %>
  </div>
  <div class="right">
    <%= link_to "Gestion de Grupos", list_groups_path, :title => "Gestion de Grupos" %>
  </div>
</div>